a.adding,
a:link.adding,
a:active.adding,
a:visited.adding { display:block;width:100% }

a:hover.adding { background: #ff0000 url(neu.gif) no-repeat center !important; text-decoration:none !important; }

.month-view td { line-height:12pt; }

.hauptamt { color:#000 !important; }
.ehrenamt { color:#00A908 !important; }

.trenner { background:url(trenner.gif) top center repeat-y scroll; }

/*
.month-view .rot a.benutzer { color:red !important; }
.month-view .blau a.benutzer { color:#00b0f0 !important; }
.month-view .gruen a.benutzer { color:#00b050 !important; }
*/